:root {
    --color-default: #000000;
    --font-color-button: #FFFFFF;
    --bg-color-header: #61787F;
    --bg-color-tmp: #D9D9D9;
    --bg-color-button-primary: #FA0B0B;
    --bg-color-button-secondary: #2D2C2C;
    --bg-color-loader: rgba(0, 0, 0, 0.8);
    --color-border-spinner: rgba(255, 255, 255, 0.3);
    --color-border-top-spinner: purple;
}

* {
    margin: 0 auto;
    box-sizing: border-box; 
    font-family: 'Oswald', sans-serif;
}

body {
    padding: 42px 24px;
    text-align: center;
    color: var(--color-default);
    max-width: 456px;
}

.main_header {
    border: 1px solid var(--color-default);
    text-align: center;
    background-color: var(--bg-color-header);
    margin-bottom: 24px;
    height: 130px;
}

h1 {
    display: none;
}

.img-logo {
    width: 182px;
    height: auto;
}

article {
    margin-top: 16px;
    margin-bottom: 16px;
}

.best-film__title, 
.best-film-ranking__title, 
.best-film-ranking-category__title,
.other__title {
    font-weight: 600;
    font-size: 2em;
}

.best-film__title {
    padding-bottom: 13px;
}

.best-film-ranking__title {
    padding-bottom: 6px;
}

.best-film-ranking-category__title {
    padding: 20px 0 20px 0;
}

.best-film-details {
    padding: 12px;
    border: 6px solid var(--color-default);
}

.best-film-details img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.best-film-details__title {
    font-size: 2em;
    text-align: left;
    padding: 0;
    font-weight: 600;
}

.best-film-details__text {
    font-size: 1em;
    font-weight: 200;
    text-align: left;
    padding-bottom: 16px;
}

.btn-details__red {
    padding: 12px 14px;
    border-radius: 25px;
    background-color: var(--bg-color-button-primary);
    color: var(--font-color-button);
    border: none;
    font-size: 0.9em;
    font-weight: 500;
    width: 91px;
    cursor: pointer;
}

.best-film-ranking__list {
    list-style-type: none;
    padding: 0;
}

.best-film-ranking__list li {
    margin: 0 0 32px 0;
    position: relative;
}

.best-film-ranking-image {
        img {
            height: 319px;
            width: 100%;
            object-fit: cover;
        }
}

.overlay {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 131px;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 60% 40%;
    
    h3 {
        padding: 10px 24px;
        text-align: left;
        font-size: 1.5em;
        font-weight: 600;
        width: 100%;
        color: var(--font-color-button);
    }

    div {
        width: 100%;
    }
}

.btn-details__black {
    padding: 2px 4px;
    border-radius: 25px;
    background-color: var(--bg-color-button-secondary);
    color: var(--font-color-button);
    border: none;
    font-size: 0.9em;
    font-weight: 500;
    width: 105px;
    height: 32px;
    position: absolute;
    bottom: 16px;
    right: 13px;
    cursor: pointer;
}

.btn__more-or-less {
    border-radius: 25px;
    background-color: var(--bg-color-button-primary);
    color: var(--font-color-button);
    border: none;
    width: 214px;
    height: 36px;
    padding: 2px 4px;
    font-size: 1.25em;
    font-weight: 500;
    cursor: pointer;
}

select {
    margin-top: 36px;
    margin-bottom: 32px;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../images/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: right 24px center;
    background-size: 24px 32px;
}

.modalContainer  {
    width: 80%;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 20px 32px;
    border: 6px solid var(--color-default);

    .btn-close__mobile {
        display: block;
        position: absolute;
        top: 10px;
        right: 24px;
        color: var(--bg-color-button-primary);
        background-color: transparent;
        border: none;
        font-size: 2em;
        cursor: pointer;
    }

    h2 {
        font-size: 3em;
        font-weight: 600;
    }
    
    header {
        margin-top: 20px;
        p {
            font-size: 1.5em;
            font-weight: 600;
        }
    }

    .btn-close__desktop {
        display: none;
    }
}

.film-director {
    padding-top: 32px;
    font-size: 1.5em;
    p:first-child{
        font-weight: 400;
    }
    p {
        font-weight: 300;
    }
}

.film-resume {
    padding-bottom: 32px;
    font-size: 1.5em;
    font-weight: 300;
}

.film-image {
    padding: 12px 0 32px 0;
    
    img {
        height: 602px;
        width: 100%;
        object-fit: cover;
    }
}

.film-actors {
    font-size: 1.25em;
    font-size: regular;
    padding-bottom: 32px;
    p:first-child{
        font-weight: 400;
    }

    p:last-child {
        font-weight: 300;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-loader);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 8px solid var(--color-border-spinner);
    border-radius: 50%;
    border-top: 8px solid var(--color-border-top-spinner);
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Tablet style (768px and more */
@media screen and (min-width: 768px) {
    body {
        max-width: 788px;
        margin: 0 auto;
        padding: 42px 24px;
    }

    .main_header {
        background-color: var(--bg-color-header);
        display: grid;
        grid-template-columns: 30% auto;
        align-items: center;
        height: 137px;
    }

    h1 {
        display: block;
        font-size: 2.5em;
        font-weight: 300;
        color: var(--font-color-button)
    }

    .best-film__title, 
    .best-film-ranking__title, 
    .best-film-ranking-category__title,
    .other__title,
    .best-film-details__title {
        font-size: 2.5em;
        text-align: left;
    }

    .best-film-ranking__title {
        padding-top: 16px;
        padding-bottom: 23px;
    }

    .best-film-ranking-category__title{
        padding-bottom: 23px;
    }

    .best-film-details__text {
        font-size: 1.5em;
        font-weight: 200;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
    }

    .best-film-details {
        position: relative;
        display: inline-block;
        width: 100%;

        img {
            float: left;
            margin-right: 26px;
            width: auto;
            height: 241px;
            border: 1px solid red;
        }
    }

    .best-film-details__content {
        position: relative;
        text-align: left;
        height: 246px;
    }

    .btn-details__red {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.25em;
        width: 123px;
    }

    .best-film-ranking__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 34px;
    }

    .best-film-ranking-image {
        img {
            height: 286px;
            width: 100%;
            object-fit: cover;
        }
    }
    
    .overlay {
        height: 118px;
    }

    .best-film-ranking__list li {
        margin: 0 0 0 0;
    }

    .btn__more-or-less {
        margin-top: 34px;
        font-size: 1.25em;
        width: 214px;
    }

    .other__header {
        display: grid;
        grid-template-columns: 20% 50%;
        justify-content: start;
        align-items: center;
        width: 100%;

        h2 {
            width: 100%;
            text-align: left;
        }
    }

    .modalContainer {
        width: 778px;
        flex-direction: column;
        justify-content: flex-start;

        .btn-close__mobile {
            display: none;
        }

        h2 {
            font-size: 3em;
            font-weight: 600;
        }

        header {
            width: 495px;
            margin:0;
        }

        .btn-close__desktop {
            display: block;
            padding: 2px 4px;
            border-radius: 25px;
            background-color: var(--bg-color-button-primary);
            color: var(--font-color-button);
            border: none;
            font-size: 1.25em;
            font-weight: 500;
            width: 214px;
            cursor: pointer;
        }
    }

    .film-director {
        padding: 32px 0 32px 0;
        font-size: 1.5em;

        p:first-child{
            font-weight: 400;
        }

        p {
            font-weight: 300;
        }
    }

    .film-image {
        position: absolute;
        top: 24px;
        right: 24px;
        
        img {
            height: 334px;
            width: 227px;
            object-fit: cover;
        }
    }

    .film-actors {
        font-size: 1.25em;
        font-size: regular;
        padding-bottom: 32px;
        
        p:first-child{
            font-weight: 400;
        }

        p:last-child {
            font-weight: 300;
        }
    }
    
}

/* Desktop style (1024px and more */
@media screen and (min-width: 1024px) {
    body {
        max-width: 1054px;
        margin: 0 auto;
        padding: 60px 71px;
    }

    .main_header {
        display: grid;
        grid-template-columns: 20% auto;
        align-items: center;
        justify-content: start;
        height: 122px;
    }

    .img-logo {
        width: 127px;
        height: auto;
    }

    .best-film__title, 
    .best-film-ranking__title, 
    .best-film-ranking-category__title,
    .other__title,
    .best-film-details__title {
        font-size: 3em;
    }

    .best-film-ranking__title {
        padding-top: 16px;
        padding-bottom: 23px;

        img {
            float: left;
            margin-right: 26px;
            height: 334px;
            object-fit: contain;
        }
    }

    .best-film-details__content {
        height: 334px;
    }

    .best-film-details__text {
        font-size: 1.75em;
    }

    .best-film-ranking__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 46px 42px;
    }

    .best-film-ranking-image {
        img {
            height: 252px;
            width: 100%;
            object-fit:fill;
        }
    }

    .btn__more-or-less {
        display: none;
    }

    .overlay {
        height: 102px;

        h3 {
            font-size: 1.25rem;
        }
    }

    .other__header {
        grid-template-columns: 20% 40%;
    }
    
}