:root {
    --color-default: #000000;
    --font-color-button: #FFFFFF;
    --bg-color-header: #61787F;
    --bg-color-tmp: #D9D9D9;
    --bg-color-button-primary: #FA0B0B;
    --bg-color-button-secondary: #2D2C2C;
}

* {
    margin: 0 auto;
    box-sizing: border-box; 
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 42px 68px;
    text-align: center;
    color: var(--color-default);
}

header {
    border: 1px solid var(--color-default);
    text-align: center;
    background-color: var(--bg-color-header);
    margin-bottom: 24px;
    height: 130px;
}

h1 {
    display: none;
}

.img-logo {
    width: 182px;
    height: auto;
}

article {
    margin-top: 16px;
    margin-bottom: 16px;
}

.best-picture__title, 
.best-ranking__title, 
.best-ranking-category__title,
.other__title {
    font-weight: 600;
    font-size: 2em;
}

.best-picture__title {
    padding-bottom: 13px;
}

.best-ranking__title {
    padding-bottom: 6px;
}

.best-ranking-category__title {
    padding: 20px 0 20px 0;
}

.best-picture-details {
    padding: 12px;
    border: 6px solid var(--color-default);
}

.tmp-picture {
   width: 100%;
   height: 240px;
   background-color: var(--bg-color-tmp);
}

.best-picture-details img {
    height: 240px;
    width: 100%;
}

.best-picture-details__title {
    font-size: 2em;
    text-align: left;
    padding: 0;
    font-weight: 600;
}

.best-picture-details__text {
    font-size: 1em;
    font-weight: 200;
    text-align: left;
    padding-bottom: 16px;
}

.btn-details__red {
    padding: 12px 14px;
    border-radius: 25px;
    background-color: var(--bg-color-button-primary);
    color: var(--font-color-button);
    border: none;
    font-size: 0.9em;
    font-weight: 500;
    width: 91px;
}

.best-ranking__list {
    list-style-type: none;
    padding: 0;
}

.best-ranking__list li {
    background-color: var(--bg-color-tmp);
    margin: 0 0 32px 0;
    position: relative;
}

.best-ranking-picture {
    height: 319px;
}

.overlay {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 131px;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 60% 40%;
}

.overlay > h3 {
    padding: 21px 27px;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    color: var(--font-color-button);
}

.overlay > div {
    width: 100%;
}

.btn-details__black {
    padding: 2px 4px;
    border-radius: 25px;
    background-color: var(--bg-color-button-secondary);
    color: var(--font-color-button);
    border: none;
    font-size: 0.9em;
    font-weight: 500;
    width: 105px;
    height: 32px;
    position: absolute;
    bottom: 16px;
    right: 13px;
}

.btn__more-or-less {
    border-radius: 25px;
    background-color: var(--bg-color-button-primary);
    color: var(--font-color-button);
    border: none;
    width: 214px;
    height: 36px;
    padding: 2px 4px;
    font-size: 1.25em;
    font-weight: 500;
}

select {
    margin-top: 36px;
    margin-bottom: 32px;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../images/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: right 24px center;
    background-size: 24px 32px;
}

/* Tablet style (768px and more */
@media screen and (min-width: 768px) {
    body {
        max-width: 788px;
        margin: 0 auto;
        padding: 43px 71px;
    }

    header {
        background-color: var(--bg-color-header);
        display: grid;
        grid-template-columns: 30% auto;
        align-items: center;
        height: 137px;
    }

    h1 {
        display: block;
        font-size: 2.5em;
        font-weight: 300;
        color: var(--font-color-button)
    }

    .best-picture__title, 
    .best-ranking__title, 
    .best-ranking-category__title,
    .other__title,
    .best-picture-details__title {
        font-size: 2.5em;
        text-align: left;
    }

    .best-ranking__title {
        padding-top: 16px;
        padding-bottom: 23px;
    }

    .best-ranking-category__title{
        padding-bottom: 23px;
    }

    .best-picture-details__text {
        font-size: 1.5em;
        font-weight: 200;
    }

    .best-picture-details {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .best-picture-details img {
        float: left;
        margin-right: 26px;
        height: 246px;
        width: 168px;
    }

    .best-picture-details__content {
        position: relative;
        text-align: left;
        height: 246px;
    }

    .btn-details__red {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.25em;
        width: 123px;
    }

    .best-ranking__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 34px;
    }

    .best-ranking-picture {
        height: 286px;
    }
    
    .overlay {
        height: 117px;
    }

    .best-ranking__list li {
        margin: 0 0 0 0;
    }

    .btn__more-or-less {
        margin-top: 34px;
        font-size: 1.25em;
        width: 214px;
    }

    .other__header {
        display: grid;
        grid-template-columns: 20% 50%;
        justify-content: start;
        align-items: center;
        width: 100%;
    }

    .other__header h2 {
        width: 100%;
        text-align: left;
    }
    
}

/* Desktop style (1024px and more */
@media screen and (min-width: 1024px) {
    body {
        max-width: 1054px;
        margin: 0 auto;
        padding: 60px 71px;
    }

    header {
        display: grid;
        grid-template-columns: 20% auto;
        align-items: center;
        justify-content: start;
        height: 122px;
    }

    .img-logo {
        width: 127px;
        height: auto;
    }

    .best-picture__title, 
    .best-ranking__title, 
    .best-ranking-category__title,
    .other__title,
    .best-picture-details__title {
        font-size: 3em;
    }

    .best-ranking__title {
        padding-top: 16px;
        padding-bottom: 23px;
    }

    .best-picture-details img {
        float: left;
        margin-right: 26px;
        height: 334px;
        width: 227px;
    }

    .best-picture-details__content {
        height: 334px;
    }

    .best-picture-details__text {
        font-size: 1.75em;
    }

    .best-ranking__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 46px 42px;
    }

    .best-ranking-picture {
        height: 252px;
    }

    .btn__more-or-less {
        display: none;
    }

    .overlay {
        height: 102px;
    }

    .other__header {
        grid-template-columns: 12% 40%;
    }
    
}